@import "../../sass/global";

.servCont {
    @include fullScreen($h: auto);
    padding: 1rem 2rem;
    // margin-bottom: 3%;
    margin-top: 10%;
    @include media(mobile) {
        width: 100%;
        margin-top: 12%;
        padding: 1rem;
    }
    h3 {
        // font-weight: 300;
        @extend .font-mon;
        font-size: 1.4rem;
        @include media(mobile) {
            font-size: 1.1rem;
        }
    }
    h1 {
        @extend .font-mon-semi;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-wrap: balance;
        @include media(mobile) {
            font-size: 1.5rem;
        }
        span {
            color: $primary;
            @extend .font-mon-bold;
        }
    }
    .cardMiddle {
        width: 100%;
        height: 100%;
        // background-color: red;
        @include flex(flex-start, flex-start);
        gap: 1.5rem;
        margin-top: 2%;

        @include media(mobile) {
            @include flex(center, center, column);
            gap: 1rem;
            margin-top: 1%;
        }
        .servCardBox {
            width: 17rem;
            height: 20rem;
            cursor: pointer;
            @include flex(flex-start, flex-start, column);
            gap: 0.8rem;
            transition: 0.3s all ease;
            @include media(mobile) {
                width: 100%;
                height: auto;
            }
            &:hover {
                transform: translateY(-8%);
                .servCardImg {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        .servCardImg {
            width: 100%;
            height: 60%;
            overflow: hidden;
            border-radius: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                transition: 0.4s all ease-in-out;
            }
        }
        h1 {
            font-size: 1.4rem;
        }
        }
    }
}