@import '../../sass/global';

.box-cont {
    // @include fullScreen($w: 90vw);
    height: auto;
    @include flex();
    overflow: hidden;
    .child {
        width: 40%;
        height: auto;
        background: #222222;
        border-radius: 10px;
        @include flex(flex-start, flex-start, column);
        color: white;
        overflow: auto;
        padding-bottom: 2rem;
        .upper {
            width: 100%;
            height: auto;
            @include flex(space-between, flex-start);
            padding: 0.5rem;
            .billing {
                width: 30%;
                height: 100%;
                @include flex(flex-start, flex-start, column);
                padding: 0.5rem;
                h2 {
                    font-size: 1.3rem;
                    @extend .font-mon;
                    font-weight: 600;
                }
                p {
                    font-size: 12px;
                }
                &.invoice {
                    width: 30%;
                    h2 {
                        font-size: 2rem;
                        // @extend .font-p;
                    }
                }
            }
            
        .image {
            width: 30%;
            height: 50%;
            // background-color: red;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        }

        .middle {
            margin-top: 2%;
            width: 100%;
            @include flex();
        }
    }
}

.lower {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 6rem;
    @include flex();
}