@import '../../sass/global';

.cards {
    width: 15rem;
    height: 20rem;
    background: linear-gradient(165deg, #eeeeee, rgb(235, 235, 235));
    border-radius: 10px;
    padding: 1rem;
    @include flex(flex-end, center, $fd: column);
    gap: 0.5rem;
    position: relative;
    @include media(mobile) {
        width: 21rem;
        height: 18rem;
    }
    .veg {
        left: 4%;
        top: 2%;
    }
.image {
    position: absolute;
    right: -15%;
    top: -10%;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    @include media(mobile) {
        right: -5%;
        top: -13%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
    }
}

.title {
    font-size: 1.5rem;
}
p {
    font-weight: 300;
    font-size: 12px;
    color: grey;
}
.btn {
    padding: 0.3rem 0.3rem;
    padding-right: 0.8rem;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 1rem;
    @include flex(space-between, center);
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .icon {
        background-color: black;
        color: white;
        border-radius: 50%;
        padding: 0.2rem;
        font-size: 1.8rem;
        &.remove {
            background-color: $danger;   
        }
    }
    &:hover {
        transform: scale(0.8);
    }
}

}