@import "../../sass/global";

.small {
    width: 48px;
    height: 48px;
    display: block;
    margin:15px auto;
    position: relative;
    color: #111;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .small::after,
  .small::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #111;
    border-radius: 50%;
    animation: animsmall 1s infinite ease-in-out;
  }
  .small::before {
    background-color: $primary;
    transform: scale(0.5) translate(-48px, -48px);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes animsmall {
      50% {
        transform: scale(1) translate(-50%, -50%);
  }
  }
      