@import "../../sass/global";

.tableOfCustomers {
    width: 100%;
    margin-top: 30px;
    height: 18rem;
    // background-color: red;
    margin-bottom: 5%;
    @include media(mobile) {
        height: 25rem;
    }
    h1 {
        padding: 1rem 1rem;
        font-size: 2rem;
        font-weight: 500;
        @include media(mobile) {
            font-size: 1.9rem;
        }
        span {
            color: $secondary;
        }
    }
    .middleNames {
        width: 100%;
        height: 50%;
        padding: 1rem;
        
        .slick-slide > div {
            margin: 0 10px;
            outline: none;
            border: none;
          }
          .slick-list {
            margin: 0 -10px;
            outline: none;
            border: none;
          }
        
    .imgContainer {
        width: 18rem;
        height: 100%;
        // background-color: red;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: scale(0.9);
            mix-blend-mode:difference;
        }
    }
    }

}
