@import "../../sass/global";

.upper {
  width: 100%;
  height: 4rem;
  // background-color: black;
  @include flex(flex-end);
  padding: 0 3rem;
  .btns {
    button {
      padding: 4px 14px;
      border: none;
      outline: none;
      background-color: lighten($color:  $primary, $amount: 5%);
      color: white;
      border-radius: 6px;
      font-size: 1.2rem;
      cursor: pointer;
      margin-left: 1rem;
      &:hover {
        background-color: lighten($color:  $primary, $amount: 10%);
      }
    }
  }
}
.container {
  @include fullScreen;
  background-color: white;
  @include flex(flex-start, flex-start);
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  .visible {
    position: absolute;
    inset: 0%;
    left: 38%;
    top: 2%;
    width: 30rem;
    height: 43rem;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 10;
    padding: 1% 2%;
    &.userEd {
      height: 24rem;
      left: 40%;
      top: 20%;
    }
    &.create {
      left: 40%;
      top: 10%;
    }
    h1 {
      width: 100%;
      font-size: 2rem;
      @include flex(space-between);
      .icons {
        cursor: pointer;
      }
    }
    .form {
      margin-top: 2%;
      @include flex(flex-start, flex-end, column);
      gap: 0.5rem;
      .imgCont {
        @include flex(space-between);
        width: 100%;
      }
      img {
        border-radius: 10px;
        // width: 40%;
        height: 6rem;
        object-fit: cover;
      }
      input,
      textarea,
      select {
        width: 100%;
        height: 3rem;
        background-color: #eeeeee;
        border-radius: 10px;
        outline: none;
        border: none;
        padding: 10px 3%;
        font-weight: 400;
        font-size: 1.1rem;
        resize: none;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      textarea {
        height: 7rem;
      }

      button {
        padding: 2%;
        background-color: transparent;
        outline: none;
        border: none;
        font-weight: 500;
        font-size: 1.1rem;
        color: #fc9a39;
        background: #fc9a3930;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }

  .dark {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  .add {
    @include flex(flex-end);
    width: 100%;
    height: 4rem;
    position: absolute;
    inset: 0;
    padding: 0px 0%;
    .btns {
      // background-color: red;
      @include flex();
      gap: 0.7rem;
      width: 20rem;
      a {
        width: 100%;
      }
        .btn {
          width: auto;
          height: auto;
          font-size: 18px;
          color: white;
          background-color: #fc9b39cc;
          border-radius: 6px;
          border: none;
          outline: none;
          padding: 2% 4%;
          transition: 0.3s ease;
          cursor: pointer;
          // &.catogery {
        //   // width: 10rem;
        //   font-size: 16px;
        // }
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
  .core {
    @include fullRatio($h: 90%);
    @include flex(space-between, flex-start);
    gap: 0px;
    width: auto;

    .left {
      width: 15%;
      height: 100%;
      // background-color: rebeccapurple;
      @include flex(space-between, flex-start, column);
      border-right: 1px solid rgb(206, 206, 206);
      .top {
        width: 100%;
        height: 70%;
        gap: 10px;

        h1 {
          font-family: "Inter", sans-serif;
          font-weight: 700;
          font-size: 2.3rem;
          padding: 0% 5%;
        }
        ul {
          width: 100%;
          height: 100%;
          gap: 10px;
          @include flex(flex-start, flex-start, column);
          background-color: white;
          list-style: none;
          padding: 5% 10%;
          gap: 3%;

          li {
            width: 90%;
            // color: orange;
            // background-color: red;
            padding: 3% 0%;
            border-radius: 5px;
            // font-family:
            font-weight: 400;
            font-size: 1.3rem;
            @include flex(flex-start);
            gap: 10px;
            position: relative;
            cursor: pointer;
            transition: 0.2s all ease;
            &:hover {
              transform: scale(0.9);
            }

            &.active {
              color: orange;
              &:hover {
                transform: scale(1);
              }
              &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                left: -5%;
                background-color: orange;
              }
            }
          }
        }
      }
      .bottom {
        width: 100%;
        height: 10%;
        // background-color: aqua;
        padding: 0px 10%;
        .logout {
          border-top: 1px solid rgb(212, 212, 212);
          width: 100%;
          height: 100%;
          padding: 5% 0%;
          cursor: pointer;
          font-size: 1.5rem;
          button {
            font-size: 1.5rem;
            @include flex();
            gap: 0.3rem;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: 400;
            transition: 0.3s ease;
          }
        }
      }
    }
    .right {
      width: 85%;
      height: auto;
      table {
        width: 100%;
        table-layout: fixed;
        overflow-x: scroll;

        &.maxout {
          width: 140%;
        }
      }
      .header {
        width: 100%;        
        // color: white;
      }
      .content {
        width: 140%;
        height: 90%;
        overflow-x: auto;
        margin-top: 0px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        position: relative;

        &.max {
          width: auto;
        }
        &::-webkit-scrollbar {
          width: 3px;
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          width: 3px;
          background-color: #eeeeee;
        }
        &::-webkit-scrollbar-thumb {
          width: 3px;
          background-color: orange;
        }
      }
      th {
        padding: 20px 12px;
        text-align: left;
        font-weight: 600;
        font-size: 14px;
        background-color: #fc9b39cc;
        color: #fff;
        text-transform: uppercase;
      }
      td {
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 500;
        font-size: 14px;
        // padding-right: ;
        color: #000;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
      }

      tr {
        select {
          width: 100%;
          margin-top: 10%;
          padding: 4%;
          background-color: #eeeeee;
          border-radius: 10px;
          outline: none;
          border: none;
          font-weight: 400;
          font-size: 1rem;
        }
        .empty {
        background-color: #fc9b39cc;
          width: 5rem;
          height: 4rem;
          @include flex;
          gap: 1.5rem;
          &.icons {
            background-color: transparent;
          }
          h4 {
            font-weight: 600;
            text-transform: uppercase;
            color: white;
            font-size: 0.9rem;
          }
          .edit {
            cursor: pointer;
            &:hover {
              color: #fc9b39cc;
            }
          }
          .delete {
            cursor: pointer;
            &:hover {
              color: crimson;
            }
          }
          .spinner {
            animation: spin 1s all ease infinite;
            @keyframes spin {
              0% {
                transform: rotate(0%);
              }
              100% {
                transform: rotate(360%);
              }
            }
          }
        }
      }
    }
  }
}