@import "../../sass/global";

.contact {
    padding: 0;
    @include fullScreen();
    @include flex();
    .children {
        margin-top: 3%;
        width: 80%;
        height: 85%;
        padding: 10px;
        border-radius: 10px;
        @include flex(space-between);

        @include media(mobile) {
            height: auto;
        }
        // gap: 1rem;

        @include media(mobile) {
            padding: 0;
            width: 95%;
            flex-direction: column-reverse;
            margin-top: 25%;
            height: auto;
            gap: 2rem;
        }
        .right {
            width: 40%;
            height: 100%;
            @include flex(flex-start, flex-start, column);
            border-radius: 12px;
            // background-color: red;
            padding: 8px 12px;

            color: black;
            @include media(mobile) {
                width: 100%;
                padding: 0;
            }
            h1 {
                font-size: 2.5rem;
                @extend .font-mon-semi;
            }
            p {
                @extend .font-mon;
                font-size: 20px;
                margin-top: 0.5rem;
                margin-bottom: 2rem;
                color: $primary;
            }

            .socialMedia {
                width: 90%;
                height: 4rem;
                @include flex(flex-start, flex-start);
                background-color: white;
                border-radius: 16px;
                margin-top: 5%;
                text-decoration: none;
                &:first-child {
                    margin-top: 0;
                }
                &:hover {
                    .icon {
                        transform: scale(1.3);
                    }
                    .headings {
                        transform: translateX(10%);
                    }
                }
                .icon {
                    width: 15%;
                    height: 100%;
                    @include flex();
                    // color: deeppink;
                    transition: 0.3s ease;
                }
                .headings {
                    width: 60%;
                    height: 100%;
                    @include flex(center, flex-start, column);
                    transition: 0.3s all ease;
                    
                    .title {
                        font-size: 1.6rem;
                        font-weight: 600;
                        // color: deeppink;
                        line-height: normal;
                    }
                    .username {
                        font-size: 14px;
                        font-weight: 400;
                        color: grey;
                    }
                }
            }
        }
        .agla {
            width: 58%;
            height: 90%;
            @include flex(center, flex-start, column);

            @include media(mobile) {
                width: 100%;
            }
            h1 {
                font-size: 2.6rem;
                @extend .font-mon-bold;
            }

            .form {
                width: 70%;
                height: 90%;
                position: relative;
                @include flex(center, flex-start, column);
                gap: 1rem;
                @include media(mobile, tablet) {
                    width: 100%;
                }
                    h2, h3 {
                        @extend .font-mon;
                        margin-bottom: 1rem;
                    }
                    h3 {
                        margin-bottom: 0;
                    }
                    .selector {
                        @include flex();
                        gap: 1rem;
                    }
                    input, textarea, select, .selectPref {
                        padding: 10px 14px;
                        width: 100%;
                        border: 1px solid $grey;
                        outline: none;
                        border-radius: 8px;
                        resize: none;
                        @extend .font-mon;
                        &::placeholder {
                            color: gray;
                            font-size: 0.8rem;
                        }
                }
                .selectPref {
                    padding: 8px 20px;
                    width: fit-content;
                    font-size: 1.2rem;
                    color: grey;
                    cursor: pointer;
                    transition: 0.3s all ease;
                    &.active {
                        border: 1px solid $primary;
                        color: $primary;
                    }
                }
                textarea {
                    height: 10rem
                }

                // .buttons {
                //     position: absolute;
                //     right: -35%;
                //     bottom: -5%;
                //     @include flex();
                //     gap: 1rem;
                //     @include media(mobile, tablet) {
                //         right: 2%;

                //     }
                //     button {
                //         @extend .glow;
                //         &.back {
                //         background-color: $danger;
                //         box-shadow: 6px 8px 20px rgba($color: $danger, $alpha: 0.8);   
                //         }
                //     }
                // }
            }
        }
    }
}