@import "../../sass/global";

.CorporateMain {
  @include fullScreen();
  margin-top: 6%;
  h1 {
    @extend .font-mon-extraBold;
    font-size: 2.5rem;
  }
  .up {
    width: 100%;
    @include flex(space-between, center, row);
    padding: 0px 4rem;

    @include media(mobile) {
      padding: 1rem;
      align-items: flex-start;
      flex-direction: column;
    }

    h1 {
      @extend .font-mon-semi;
    }
    .tags {
      width: 60%;
      height: 100%;
      @include flex(flex-end, flex-end, row);
      gap: 3%;
      @include media(mobile) {
        width: 100%;
        justify-content: space-between;
      }
      .circleTags {
        @include flex(flex-start, flex-start, column);
        height: 100%;
        gap: 0.3rem;
        p {
          font-size: 16px;
          color: lighten($color: $secondary, $amount: 10%);
        }
        .btns {
          @include flex();
          gap: 0.5rem;

          button {
            @include flex();
            padding: 0.2rem 1rem;
            background-color: #ffffff;
            outline: none;
            border: none;
            border: 1px solid #d6d6d6;
            border-radius: 20px;
            cursor: pointer;
            color: gray;
          }
        }
      }
      .context {
        @include flex(flex-start, flex-start, column);
        gap: 0.2rem;
        p {
          font-size: 14px;
          color: lighten($color: $primary, $amount: 10%);
        }
        .tag {
          border-radius: 8px;
          padding: 5px 16px;
          background-color: white;
          border: 1px solid #d6d6d6;
          color: grey;
          outline: none;
          cursor: pointer;
          transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
          @include flex();
          gap: 0.5rem;

          @include media(mobile) {
            width: 6rem;
          }
        }
      }
    }
  }

  .middle {
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
    @include flex(flex-start, flex-start);
    gap: 1rem;
    row-gap: 1.5rem;

    @include media(mobile) {
      padding: 2rem 1rem;
    }
    .coCard {
      width: 22rem;
      height: 10rem;
      background-color: #f1f1f1;
      border-radius: 20px;
      position: relative;
      overflow: hidden;

      &:hover {
        .blur {
          transform: translateY(0);
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
      .blur {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #00000000 20%, #00000090 90%);
        @include flex(flex-end, flex-start, column);
        padding: 0px 0.5rem 0.8rem 0.5rem;
        cursor: pointer;
        transform: translateY(100%);
        transition: 0.3s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
        .pos {
          position: absolute;
          right: 4%;
          bottom: 8%;
          width: 1rem;
          height: 1rem;
          border-radius: 5px;
          border: 0.5px solid limegreen;
          padding: 0.1rem;
          @include flex();
          .dot {
            width: 70%;
            height: 70%;
            background-color: limegreen;
            border-radius: 5px;
          }
        }
        h1 {
          font-size: 2rem;
          color: white;
        }
        p {
          font-size: 1rem;
          color: white;
          font-weight: 300;
        }
        h3 {
          margin-top: 1%;
          color: darken($color: $primary, $amount: 5%);
          font-size: 1.3rem;
          span {
            font-size: 0.85rem;
            font-weight: 400;
            text-decoration: line-through;
            color: #eeeeee;
          }
        }
      }
    }
  }
}
