@import '../../sass/global';

.popularItems {
    @include fullScreen();
    @include flex(space-around, center, $fd: column);
    @include media(mobile) {
        @include flex(space-around, center, $fd: column);
    }

    .upper {
        @include flex(flex-end, $fd: column);
        h2 {
            @extend .font-mon-bold;
            font-size: 3rem;
            line-height: 120%;

            span {
                color: $primary;
            }
        }
        p {
            width: 100%;
            text-align: center;
            font-weight: 300;
            color: $grey;
            font-size: 1rem;

            @include media(mobile) {
                width: 95%;
                color: gray;
                font-size: 14px;
                text-align: justify;
            }

        }
    }

    .child {
        width: 90%;
        height: 50%;
        background-color: lighten($color: $primary, $amount: 15%);
        border-radius: 20px;
        opacity: 1;
        position: relative;
        @include media(mobile) {
            height: 40%;

        }
        .popCards {
            width: 90%;
            position: absolute;
            inset: 0;
            z-index: 2;
            top: -25%;
            left: 5%;
            // @include flex(flex-start, flex-start);
            gap: 1.9rem;
            transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
            @include media(mobile) {
                // @include flex(center, center, column);
                width: 90%;
                // top: -60%;
                left: 18%;
                gap: 2rem;

            }
        }
    }
}
.card {
    width: 14rem;
    height: 20rem;
    background-color: lighten($color: $primary, $amount: 28%);
    border-radius: 20px;
    opacity: 1;
    box-shadow: 0px 5px 20px rgba($color: #000000, $alpha: 0.1);
    @include flex($fd: column);
    gap: 3%;
    padding: 1%;
    position: relative;  
    
    .image {
        width: 60%;
        height: 40%;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100px;
            box-shadow: 5px 2px 8px #00000030;
        }
    }
    .content {
        width: 100%;
        height: 55%;
        @include flex($fd: column);
        gap: 1.5rem;
        .types {
            h1 {
                @extend .font-mon-extraBold;
                font-size: 1.3rem;
                text-align: center;
                text-wrap: balance;
            }
            p {
                
                font-size: 12px;
                @extend .font-mon;
                text-align: center;
                @include media(mobile) {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                }
            }
        }
        button {
            // padding: 3% 10%;
            font-size: 18px;
            background-color: transparent;
            color: $primary;
            // color: lighten($color: $success, $amount: 10%);
            @extend .font-p-semiBold;
            outline: none;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            transition: 0.3s all cubic-bezier(0.165, 0.84, 0.44, 1);

            &:hover {
                transform: scale(0.8);
            }
        }
    }
}