* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    &::-webkit-scrollbar {
      width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: orange; 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: orange; 
    }
}

body, html {
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: orange; 
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: orange; 
      }
}