@import "../../sass/global";

.main {
    position: relative;
    .backme {
        position: absolute;
        top: 2rem;
        left: 2rem;
        color: $primary;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.3s all ease;
        &:hover {
            color: $success;
        }
    }
    .child {
        width: 65%;
        height: 90%;
        background-color: white;
        box-shadow: 0px 0px 20px #00000025;
        border-radius: 20px;
        padding: 10px;
        @include flex(space-between);

        @include media(mobile, tablet) {
            width: 98%;
            height: 85%;
            justify-content: center;
            margin-top: 16%;
            // margin-left: 2%;
        } 
        .image {    
            width: 35%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
        }
        .content {
            width: 60%;
            height: 100%;
            // background-color: blue;
            @include flex(flex-start, flex-start, column);
            gap: 0rem;

            @include media(mobile, tablet) {
                width: 100%;
            }
            .uperWala {
                width: 90%;
                height: 10%;
                @include flex(flex-start);
                margin-bottom: 3%;
                @include media(mobile, tablet) {
                    width: 100%;
                    gap: 1rem;
                }
                h1 {
                    font-size: 3rem;
                    text-align: left;
                }
            }
            .form {
                width: 70%;
                height: 80%;
                // background-color: green;
                position: relative;
                @include flex(flex-start, flex-start, column);
                gap: 1rem;
                @include media(mobile, tablet) {
                    width: 100%;
                }
                    h2, h3 {
                        @extend .font-mon;
                        margin-bottom: 1rem;
                    }
                    h3 {
                        margin-bottom: 0;
                    }
                    .selector {
                        @include flex();
                        gap: 1rem;
                    }
                    input, textarea, select, .selectPref {
                        padding: 10px 14px;
                        width: 100%;
                        border: 1px solid $grey;
                        outline: none;
                        border-radius: 8px;
                        resize: none;
                        @extend .font-mon;
                        &::placeholder {
                            color: gray;
                            font-size: 0.8rem;
                        }
                }
                .selectPref {
                    padding: 8px 20px;
                    width: fit-content;
                    font-size: 1.2rem;
                    color: grey;
                    cursor: pointer;
                    transition: 0.3s all ease;
                    &.active {
                        border: 1px solid $primary;
                        color: $primary;
                    }
                }
                textarea {
                    height: 10rem
                }

                .buttons {
                    position: absolute;
                    right: -35%;
                    bottom: -5%;
                    @include flex();
                    gap: 1rem;
                    @include media(mobile, tablet) {
                        right: 2%;

                    }
                    button {
                        @extend .glow;

                    &.success {
                        background: $success;
                        box-shadow: 6px 8px 20px rgba($color: $success, $alpha: 0.8);   
                        
                    }
                        &.back {
                        background-color: $danger;
                        box-shadow: 6px 8px 20px rgba($color: $danger, $alpha: 0.8);   

                        }
                    }
                }
            }
        }
    }
}